body {
    background-image: linear-gradient(to right, #0F2027,#203A43,                                         #2C5364);
    color: #19d089;
    
}
h3 {
    font-family: "Jost", sans-serif; 
}

p {
    font-family: "Jost", sans-serif; 
    color: #19d089;
    
}

h4 {
    color: #01d070;
    
}
