<!doctype html>
<html>
  <head>
    <title>Let's play a game!</title>
  </head>
  <body>
      <h3>Let's get started!</h3>
      <h4>Make some madlib selections:</h4>
      <form action="/madlib">
          <div>
              <label>Select a color!</label>
              <select name="color">
                  <option value=red>Red</option>
                  <option value=orange>Orange</option>
                  <option value=yellow>Yellow</option>
                  <option value=seafoam>Seafoam</option>
                  <option value=blue>Blue</option>
                  <option value=goldenrod>Goldenrod</option>
                  <option value=mauve>Mauve</option>
              </select>
          </div>
          <div>
              <input type="text" name="noun" placeholder="type a noun here">
          </div>
          <div>
              <input type="text" name="adjective" placeholder="type an adjective here">
          </div>
        <input type="submit" value="Submit">

      </form>
  </body>
</html>